@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header {
    margin-top: 25px;
    align-items: right;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.right-icons {
    display: flex;
    background-color: rgba(211, 211, 211, 0.39);
    justify-content: flex-end;
    padding: 10px;
}

.right-icons img {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

.right-icons img:hover {
    transform: scale(1.45);
}

body {
    height: 90vh;
    margin: 0;
    background-image: url("/assets/backgroundGif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.content {
    min-height: calc(90vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.imagem {
    width: 30%;
    opacity: 0.9;
}

.texto {
    background-color: rgba(211, 211, 211, 0.39);
    padding: 15px 40px; /* espaçamento vertical menor */
    color: rgb(102, 102, 102);
    font-size: 22px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 780px;
    flex: 1;
    position: relative;
}

footer {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.39);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: rgb(102, 102, 102);
}

.copyright {
    font-size: 18px;
    margin: 15px;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }

    .right-icons {
        justify-content: center;
    }

    .background {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .imagem {
        width: 80%;
        margin: 0 auto 20px;
        display: block;
    }

    .texto {
        width: 90%;
        padding: 15px 20px; /* ajuste também para mobile */
        font-size: 18px;
    }
}
